<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FINTUAL</title>
</head>
<body>
    <div>
        <h1>PRUEBA FINTUAL</h1>
        <h2>Cálculo del profit de un portfolio</h2>
        <form action="/" method="POST">
            <div>
                <label>Ingrese una fecha</label>
                <input type="text" id="date1" name="date1" placeholder="01-01-2021" class="form-input">
            </div>
            <div>
                <label>Ingrese una segunda fecha</label>
                <input type="text" id="date2" name="date2" placeholder="01-01-2021" class="form-input">
            </div>
            <div>
                <button type="submit" class="buy-now-button">Calcular Profit</button>
            </div>
        </form>
        
        
    </div>
</body>
</html>